<{strip}>
<nav id="sitenav" class="" aria-label="Menu" role="navigation">
    <div class="hidden-md hidden-lg" id="mobile-search">
        <form action="<{$webshop->getUrl()|escape}>/search">
            <input id="mobil-search-input" type="text" name="search" value="<{$get.search|escape}>" placeholder="<{$settings.globale.Soegefelttekst|escape}>">
            <button id="mobil-search-btn" type="submit" class="glyphicon glyphicon-search"></button>
        </form>
    </div>
    <ul>
        <li><a href="/" class="tofrontpage"><i class="glyphicon glyphicon-home"></i></a></li>
        <{assign var="menu" value=$webshop->getMenu("topmenu")}>
        <{if $menu}>
        <{assign var="items" value=$menu->getItems()}>

        <{section name="i" loop=$items}>
        <li class="<{$items[i]->getClass()|escape}>">
            <{if $items[i]->getType() == "menu"}>
            <{assign var="subitems" value=$items[i]->getItems()}>
            <{section name="j" loop=$subitems start=0 max=1}>
            <button class="subnav-expander"></button>
            <a href="<{$subitems[j]->getUrl()|escape}>"><{$items[i]->getTitel()|escape}></a>
            <{/section}>
            <div class="sitenav-expanded"><div class="sitenav-expanded-content">
                <{section name="j" loop=$subitems start=1}>
                <a href="<{$subitems[j]->getUrl()|escape}>"><{$subitems[j]->getTitel()|escape}></a>
                <{/section}>
            </div></div>
            <{else}>
            <a href="<{$items[i]->getUrl()|escape}>"><{$items[i]->getTitel()|escape}></a>
            <{/if}>
        </li>
        <{/section}>
        <{/if}>
    </ul>
    <button class="takeover-close">&times;</button>
</nav>
<{/strip}>