<{strip}><section id="persuasion">
<div class="container"><div class="row">
    <div class="col-xs-6 col-sm-3 persuasion-box">
        <div class="persuasion-box-inner">
            <{if $settings.USPS.USP1}>
            <i class="<{if $settings.USPS.USP1ikon == "-"}>no-icon<{elseif $settings.USPS.USP1ikon == "Checkmark"}>glyphicon glyphicon-ok<{elseif $settings.USPS.USP1ikon == "Lightning"}>glyphicon glyphicon-flash<{elseif $settings.USPS.USP1ikon == "Lock"}>glyphicon glyphicon-lock<{elseif $settings.USPS.USP1ikon == "Piggiebank"}>glyphicon glyphicon-piggy-bank<{elseif $settings.USPS.USP1ikon == "Heart"}>glyphicon glyphicon-heart<{elseif $settings.USPS.USP1ikon == "Star"}>glyphicon glyphicon-star<{elseif $settings.USPS.USP1ikon == "Gift"}>glyphicon glyphicon-gift<{elseif $settings.USPS.USP1ikon == "Globe"}>glyphicon glyphicon-globe<{/if}>"></i><span><{$settings.USPS.USP1}></span>
            <{/if}>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 persuasion-box">
        <div class="persuasion-box-inner">
            <{if $settings.USPS.USP2}>
            <i class="<{if $settings.USPS.USP2ikon == "-"}>no-icon<{elseif $settings.USPS.USP2ikon == "Checkmark"}>glyphicon glyphicon-ok<{elseif $settings.USPS.USP2ikon == "Lightning"}>glyphicon glyphicon-flash<{elseif $settings.USPS.USP2ikon == "Lock"}>glyphicon glyphicon-lock<{elseif $settings.USPS.USP2ikon == "Piggiebank"}>glyphicon glyphicon-piggy-bank<{elseif $settings.USPS.USP2ikon == "Heart"}>glyphicon glyphicon-heart<{elseif $settings.USPS.USP2ikon == "Star"}>glyphicon glyphicon-star<{elseif $settings.USPS.USP2ikon == "Gift"}>glyphicon glyphicon-gift<{elseif $settings.USPS.USP2ikon == "Globe"}>glyphicon glyphicon-globe<{/if}>"></i><span><{$settings.USPS.USP2}></span>
            <{/if}>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 persuasion-box">
        <div class="persuasion-box-inner">
            <{if $settings.USPS.USP3}>
            <i class="<{if $settings.USPS.USP3ikon == "-"}>no-icon<{elseif $settings.USPS.USP3ikon == "Checkmark"}>glyphicon glyphicon-ok<{elseif $settings.USPS.USP3ikon == "Lightning"}>glyphicon glyphicon-flash<{elseif $settings.USPS.USP3ikon == "Lock"}>glyphicon glyphicon-lock<{elseif $settings.USPS.USP3ikon == "Piggiebank"}>glyphicon glyphicon-piggy-bank<{elseif $settings.USPS.USP3ikon == "Heart"}>glyphicon glyphicon-heart<{elseif $settings.USPS.USP3ikon == "Star"}>glyphicon glyphicon-star<{elseif $settings.USPS.USP3ikon == "Gift"}>glyphicon glyphicon-gift<{elseif $settings.USPS.USP3ikon == "Globe"}>glyphicon glyphicon-globe<{/if}>"></i><span><{$settings.USPS.USP3}></span>
            <{/if}>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3 persuasion-box">
        <div class="persuasion-box-inner">
            <{if $settings.USPS.USP4}>
            <i class="<{if $settings.USPS.USP4ikon == "-"}>no-icon<{elseif $settings.USPS.USP4ikon == "Checkmark"}>glyphicon glyphicon-ok<{elseif $settings.USPS.USP4ikon == "Lightning"}>glyphicon glyphicon-flash<{elseif $settings.USPS.USP4ikon == "Lock"}>glyphicon glyphicon-lock<{elseif $settings.USPS.USP4ikon == "Piggiebank"}>glyphicon glyphicon-piggy-bank<{elseif $settings.USPS.USP4ikon == "Heart"}>glyphicon glyphicon-heart<{elseif $settings.USPS.USP4ikon == "Star"}>glyphicon glyphicon-star<{elseif $settings.USPS.USP4ikon == "Gift"}>glyphicon glyphicon-gift<{elseif $settings.USPS.USP4ikon == "Globe"}>glyphicon glyphicon-globe<{/if}>"></i><span><{$settings.USPS.USP4}></span>
            <{/if}>
        </div>
    </div>
</div></div><!--/.row /.container-->
</section><!--/#persuasion--><{/strip}>