<{strip}>
<{assign var="splat" value=$product->getMetaValue('splat') }>
<{assign var="images" value=$product->getImages()}>
<{assign var="supplier" value=$product->getSupplier()}>
<{assign var="profile" value=$product->getProfile()}>
<{assign var="attr" value=$profile->getAttributeList()}>

<li rel="product" title="" class="col-xs-12 col-sm-4 col-md-3 product-teaser <{$product->getCategoryNames("filter-"," ")}> <{if $supplier}> filter-<{$supplier->getName()|lower|replace:' ':'_'|replace:'.':'_'}><{/if}>" itemscope itemtype="http://schema.org/Product">
    <div class="product-teaser-inner">
        <a href="<{$product->getRemoteUrl()|escape}>" title="<{$product->getName()|escape}>">
            <{if $attr}>
            <div class="sizes">
                <ul>
                    <{section name="j" loop=$attr}>
                    <{if $attr[j]->getIsVariant() && $attr[j]->getDataType() == "valuelist"}>
                    <{assign var="values" value=$attr[j]->getValues()}>
                    <{assign var="c" value=0}>
                    <{section name="k" loop=$values}>

                    <{if $product->getInStock($attr[j]->getAttributeId(), $values[k]->getAttributeValueId()) > 0}>
                    <{assign var="c" value=$c+1}>
                    <{if $c < 10}>
                    <li><{$values[k]->getVal()|escape}></li>
                    <{elseif $c == 10}>
                    <li>mere...</li>
                    <{/if}>
                    <{/if}>

                    <{/section}>
                    <{/if}>

                    <{/section}>

                </ul>
            </div>
            <{/if}>
            <div class="product-teaser-image-area">
                <{section name="j" loop=$images start=0 max=1}>            
                <img src="<{$theme_url}>/img/spinner.gif" data-layzr="<{$images[j]->getSrc(240,240, 'box')}>" data-layzr-retina="<{$images[j]->getSrc(500,500, 'box')}>" class="product-image" itemprop="image" alt="<{$images[j]->getDescription()|escape}>" />           
                <{/section}>
            </div>

            <{if $product->getSalePrice() > 0}>
            <div class="product-teaser-highlight offer">
                <{math assign="pricedif" equation='a-b' a=$product->getPrice() b=$product->getSalePrice() }>
                <{math assign="savepercent" equation='c/d*100' c=$pricedif d=$product->getPrice()}>
                -<{$savepercent|number_format:0}>%
            </div>
            <{elseif $product->getOnlineHours() < 480}>
            <div class="product-teaser-highlight news">NYHED</div>
            <{/if}>


            <div class="product-teaser-meta">
                <div class="product-teaser-title" itemprop="name"><{$product->getName()|escape}></div>
                <div class="product-teaser-brand" itemprop="brand"><{if $supplier}><{$supplier->getName()}><{/if}></div>
                <div class="product-teaser-text" itemprop="description"><{$product->getListDescription()|escape}></div>
                <div class="product-teaser-price" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                    <{if $product->getSalePrice()}>
                    <div class="product-teaser-price-before"><span><{$webshop->getCurrency()}></span> <span class="beforeprice"><{$product->getPrice()|number_format:2:",":"."}></span></div>
                    <{/if}>
                    <div class="product-teaser-price-current">
                     <small>Fra</small>
                     <span itemprop="priceCurrency" class="product-teaser-currency"><{$webshop->getCurrency()}></span>&nbsp;<span itemprop="price" class="product-teaser-price"><{$product->getRealPrice()|number_format:2:",":"."}></span>
                 </div>
                 <{if $product->getIsInStock()}>
                 <span itemprop="availability" class="product-teaser-availability instock" >På lager</span>
                 <{else}>
                 <span itemprop="availability" class="product-teaser-availability outofstock">Ikke på lager</span>
                 <{/if}>
             </div>
         </div>
     </a>


     <{if $settings.Produktlister.Laegikurvfraliste == 'ja'}>
     <{if $product->getIsInStock()}>
     <form action="" method="post" class="putinbasketform">
        <input type="hidden" name="product_id" value="<{$product->getProductId()}>"/>
        <input type="hidden" name="redirect" value="<{$product->getMetaValue('redirect')|escape}>"/>
        <input type="hidden" class="form-control amount-input" name="amount" value="1">
        <div class="product-teaser-cta">
            <{if $product->hasVariant()}>
            <{section name="j" loop=$attr}>
            <{if $attr[j]->getIsVariant()}>
            <{if $attr[j]->getDataType() == "valuelist"}>
            <{assign var="values" value=$attr[j]->getValues()}>
            <select name="attributes[<{$attr[j]->getAttributeId()}>]" id="a<{$attr[j]->getAttributeId()}>" class="product-variant-selectbox" required>
                <option value="" disabled="disabled" selected>Vælg variant</option>
                <{section name="k" loop=$values}>
                <{assign var="attribute_price" value=$product->getAttributePrice($values[k]->getAttributeValueId())}>
                <{if $product->getInStock($attr[j]->getAttributeId(), $values[k]->getAttributeValueId()) > 0}>
                <option value="<{$values[k]->getAttributeValueId()}>" data-stockamount="<{$product->getInStock($attr[j]->getAttributeId(), $values[k]->getAttributeValueId())}>">
                    <{$values[k]->getVal()|escape}>
                    <{if $attribute_price}>
                    &nbsp;(<{$attribute_price|number_format:2:",":"."}> <{$webshop->getCurrency()}>)
                    <{/if}>
                </option>
                <{/if}>
                <{/section}>
            </select>
            <{elseif $attr[j]->getDataType() == "string"}>
            <input type="text" name="attributes[<{$attr[j]->getAttributeId()}>]" id="a<{$attr[j]->getAttributeId()}>" class="attribute"/>
            <{elseif $attr[j]->getDataType() == "integer"}>
            <input type="text" name="attributes[<{$attr[j]->getAttributeId()}>]" id="a<{$attr[j]->getAttributeId()}>" class="attribute"/>
            <{elseif $attr[j]->getDataType() == "boolean"}>
            <input type="checkbox" name="attributes[<{$attr[j]->getAttributeId()}>]" value="1" id="a<{$attr[j]->getAttributeId()}>" class="attribute"/>
            <{/if}>
            <{/if}>
            <{/section}>
            <{else}>
            <input type="hidden" class="single-stock-amount" value="<{$product->getInStock($attributes[0].id, $attributes[0].value_id)}>">
            <{/if}>

            <button class="product-teaser-readmore btn btn-primary" type="submit" value=" "><{$settings.Produktlister.Knaptekst_koeb}></button>
        </div>


    </form>
    <{else}>
    <div class="product-teaser-cta">
        <a href="<{$product->getRemoteUrl()|escape}>" class="product-teaser-readmore btn btn-primary"><{$settings.Produktlister.Knaptekst_ikkepaalager}></a>
    </div>
    <{/if}>
    <{else}>
    <div class="product-teaser-cta">
        <a href="<{$product->getRemoteUrl()|escape}>" class="product-teaser-readmore btn btn-primary"><{$settings.Produktlister.Knaptekst_laesmere}></a>
    </div>
    <{/if}>


</div>
</li><{/strip}>