<{strip}><{capture name="title"}><{$category->getName()}><{/capture}>
<div id="site" class="">

    <{include file="_include_header.html"}>
    <{assign var="catimages" value=$category->getImages()}>
    <section id="sitecontent">
        <{if $catimages}>
        <{section name="j" loop=$catimages start=1 max=2}>
        <div id="catimg" style="background-image:url(<{$catimages[j]->getSrc(1000,200,'fit')}>)"></div>
        <{/section}>
        <{else}>
        <{/if}>

        <{include file="_include_breadcrumbs.html"}>

        <section id="product-list-head">
            <div class="container"><div class="row"><div class="col-xs-12 col-sm-8 col-sm-offset-2">
                <h1><{$category->getName()|escape}></h1>
                <div class="categorydescription descA"><{$category->getDescriptionA()}></div>
            </div></div></div>
        </section>


        <{assign var="subcats" value=$category->getChildren()}>
        <{if $subcats}>

        <section id="categorylist" class="subcats">
            <div class="container"><div class="row">

                <{section name="i" loop=$subcats}>
                <div class="col-xs-6 col-sm-3 col-lg-2 category-teaser">
                    <div class="category-layout">
                        <a href="<{$subcats[i]->getUrl()|escape}>" class="category-teaser-inner">
                            <{assign var="images" value=$subcats[i]->getImages()}>
                            <{if $images}>
                            <{section name="j" loop=$images start=0 max=1}>
                            <img class="category-teaser-image" src="<{$images[j]->getSrc(400,400,'box')}>" alt="<{$subcats[i]->getName()|escape}>">
                            <{/section}>
                            <{/if}>
                            <div class="category-teaser-title">
                                <{$subcats[i]->getName()|escape}>
                            </div>
                        </a>
                    </div>
                </div>
                <{/section}>

            </div></div><!--/.container .row-->
        </section>

        <{/if}>



        <section id="products">
            <div class="container"><div class="row">
                <div id="noproducts">Vi har desværre ingen produkter der matcher dine kriterier</div>
                <ul class="product-list" itemscope itemtype="http://schema.org/ItemList">

                    <{section name="i" loop=$products}>
                    <{include file="_include_inner-product.html" product=$products[i]}>
                    <{/section}>

                </ul>

                <{if $pager}>
                <{assign var="pages" value=$pager->render()}>
                <{if $pages}>
                <div id="product-list-pagination">
                    <nav class="pagination"><{$pages}></nav>
                </div>
                <{/if}>
                <{/if}>
            </div></div><!--/.container .row-->
        </section>





        <{if $category->getDescriptionB()}>
        <section id="product-list-foot">
            <div class="container"><div class="row"><div class="col-xs-12">
                <div class="categorydescription descB"><{$category->getDescriptionB()}></div>
            </div></div></div>
        </section>
        <{/if}>

        <{include file="_include_page-persuasion.html"}>

    </section><!--/#sitecontent-->

    <{include file="_include_footer.html"}>


    <button id="totop">Til toppen</button>

    <{include file="_include_cookiepolicy.html"}>

</div><!--/#site-->

<{include file="_include_side-basket.html"}>

<{/strip}>