<{strip}><{capture name="title"}><{$landing_page->getName()}><{/capture}>


<div id="site" class="">

    <{include file="_include_header.html"}>
    <{assign var="lpimages" value=$landing_page->getImages()}>
    <section id="sitecontent" <{if $catimages}><{section name="j" loop=$lpimages}><{if $lpimages|@count < 2}>style="padding-top:80px;"<{else}>data-kim="intet billede!"<{/if}><{/section}><{/if}>>
        <{if $catimages}>
        <{section name="j" loop=$lpimages start=1 max=2}>
        <div id="catimg" style="background-image:url(<{$lpimages[j]->getSrc(1000,200,'fit')}>)"></div>
        <{/section}>
        <{else}>
        <{/if}>
        

        <section id="product-list-head">
            <div class="container"><div class="row"><div class="col-xs-12 ">
                <h1><{$landing_page->getName()|escape}></h1>
                <div class="categorydescription descA"><{$landing_page->getDescriptionA()}></div>
            </div></div></div>
        </section>

        <{if $landing_page->getMetaValue("categorylist")}>

        <{assign var="listcats" value=$webshop->getCategories()}>
        <{if $listcats}>

        <section id="categorylist" class="listcats">
            <div class="container"><div class="row">

                <{section name="i" loop=$listcats}>
                <{if $listcats[i]->getInMenu()}>
                <div class="col-xs-6 col-sm-3 col-lg-3 category-teaser">
                    <div class="category-layout extra-height-control">
                        <a href="<{$listcats[i]->getUrl()|escape}>" class="category-teaser-inner">
                            <{assign var="images" value=$listcats[i]->getImages()}>
                            <{if $images}>
                            <{section name="j" loop=$images start=0 max=1}>
                            <img class="category-teaser-image" src="<{$images[j]->getSrc(400,400,'box')}>" alt="<{$listcats[i]->getName()|escape}>">
                            <{/section}>
                            <{/if}>
                            <div class="category-teaser-title">
                                <{$listcats[i]->getName()|escape}>
                            </div>
                            <div class="category-teaser-description">
                               <{$listcats[i]->getDescriptionA()}>
                           </div>
                       </a>
                   </div>
               </div>
               <{/if}>
               <{/section}>

           </div></div><!--/.container .row-->
       </section>

       <{/if}>

       <{else}>


       <section id="products">
        <div class="container"><div class="row">
            <div id="noproducts">Vi har desværre ingen produkter der matcher dine kriterier</div>
            <ul class="product-list" itemscope itemtype="http://schema.org/ItemList">

                <{section name="i" loop=$products}>
                <{include file="_include_inner-product.html" product=$products[i]}>
                <{/section}>

            </ul>

        </div></div><!--/.container .row-->
    </section>

    <{/if}>

    <{if $landing_page->getDescriptionB()}>
    <section id="product-list-foot">
        <div class="container"><div class="row"><div class="col-xs-12">
            <div class="categorydescription descB"><{$landing_page->getDescriptionB()}></div>
        </div></div></div>
    </section>
    <{/if}>

    <{include file="_include_page-persuasion.html"}>

</section><!--/#sitecontent-->

<{include file="_include_footer.html"}>


<button id="totop">Til toppen</button>

<{include file="_include_cookiepolicy.html"}>

</div><!--/#site-->

<{include file="_include_side-basket.html"}>
<{/strip}>