<{include file="_include_ecommerce-tracking.html"}>

<div id="site" class="checkout">

    <{include file="_include_checkout-header.html"}>

    <section id="sitecontent">

        <section id="checkout-content" class="thanks">
            <div class="container"><div class="row"><div class="col-xs-12">

                <div class="thanksicn"><i class="glyphicon glyphicon-thumbs-up"></i></div>

                <h1>Tak for din bestilling</h1>

                <p>Du vil modtage en ordrebekræftelse pr. mail. og din bestilling hurtigst muligt.</p>
                <p><strong>Ha' en fantastisk dag!</strong></p>
                <br>
                <a href="/">Gå til forsiden</a>

            </div></div></div>
        </section>


    </section><!--/#sitecontent-->

</div><!--/#site-->