body.toggled-basket{
	#basket{
		display: block;
		-webkit-overflow-scrolling: touch;
	}
}

#basket{
	padding: 5% 5% 30px 5%;
	@media(min-width:@screen-md){
		padding: 5% 20% 30px 20%;
	}
	width: 100%;
	height: 100%;
	min-height: 100%;
	background:rgba(65, 65, 65, .99);
	position: fixed;
	top: 0;
	left:0;
	z-index: 1001;
	display: none;
	#basket-content{
		padding-bottom: 30px;
	}
	&:after{
		clear: both;
		content: '';
		display: block;
	}
	#basket-content-listhead{
		color:#fff;
	}
}
