#basket-content-list{
	margin:0 0 30px 0;
	padding: 0;
	list-style-type: none;

	#basket-content-listhead{
		text-transform: uppercase;
		font-size: 100%;
		padding: 15px 0;
		border-bottom: 1px solid @brand-third;
		border-top: 1px solid transparent;
		color: #fff;
		margin:0;
		span{
			padding: 0;
		}
	}

	.basket-content-listitem{
		padding: 15px 0;
		border-bottom: 1px solid darken(@brand-secondary, 2%);
		color: #fff;
	}
	.basket-content-listitem-attr{
		font-style: italic;
		font-size: 80%;
		margin-left: 40px;
		opacity: 0.7;
		color: #fff;
		padding: 5px 0 0 0;
		display: block;
	}
	.basket-content-listitem > a, .basket-content-listitem > span{
		display: block;
		color: #fff;
	}
	.basket-content-listitem a{
		color: #fff;
	}
	.basket-content-listitem:after{
		content: '';
		display: block;
		clear: both;
	}

	.basket-content-listitem .left, .basket-content-listitem .right{
		padding: 0;
	}
	.basket-content-listitem-amount{
		float: left;
		margin-right: 10px;
		color: #fff;
	}
}

.left{
	text-align: left;
}

.right{
	text-align: right;
}

#basket-summary{
	text-align: right;
	margin-bottom: 30px;
	color: #fff;
}
#basket-subtotal,
#basket-shipping,
#basket-vat,
#basket-total{
	color: #fff;
	display: block;		
	
}
#basket-subtotal{

}
#basket-shipping{

}
#basket-vat{

}


.basketpage{

}
#basket-persuasion{
	@media (max-width: @screen-sm){
		display: none;
	}
	width: 60%;
	float: right;
	padding-top: 30px;
	ul{
		list-style-type: none;
		margin:0;
		padding: 0;
		text-align: right;

		li{
			display: inline-block;
			margin-left:20px;
			&:before{
				font-family: 'Glyphicons Halflings';
				content: "\e013";
				float: left;
				margin-right: 5px;
			}
			&:after{
				content: '';
				clear: both;
				display: block;
			}
		}
	}
}


#basket-total{
	font-size: 150%;
	border-bottom: 0px solid transparent;
	border-top: 1px solid @brand-third;
	padding: 10px 0;
	margin: 30px 0 10px 0;
	span{
		float: right;
	}
}

#basket-content-shipping{
	span.country-selecter{
		display: inline-block;
		margin: 0 5px;
	}
}


#basket-voucher{

	margin: 0 0 30px 0;

	> .input-group {
		padding: 0;
	}

	input{
		width: auto;
		max-width: 180px;
		background: #fafafa;
		border: 0 none;
		height: 40px;
		line-height: 40px;
		padding: 0px 15px;
		display: inline-block;
		border-radius:5px;
		color:@brand-primary;
	}

	&::after{
		content: '';
		clear: both;
		display: block;
	}
	button{
		// position: absolute;
		display: inline-block;
		height: 40px;
		margin-top: -5px;
		margin-right: -15px;
		margin-left: 15px;
		// height: 34px;
		// line-height: 34px;
		// padding: 0 10px;
		// right: 3px;
		// margin: 3px 5px 0 0;
	}
}

#basket-voucher-line{
	font-size: 140%;
	text-align: right;
	color: #519310;
}


.removefrombasket{
	// opacity: .6;
	background: transparent;
	border: 0 none;
	color: @brand-third;
	&:hover{
		color: darken(@brand-third, 15%);
		opacity: 0.8;
	}
	span{
		color: #fff;
	}
}

#basket-shipping-method {
	// border-bottom: 1px solid #DDDDDD;
	// margin-bottom: 30px;
	padding: 0 0 30px;
}

input.voucher-active{
	border-color: #519310;
	background: #c6eda3;
}
button.voucher-active{
	color: #519310;
	border-color: #519310;
}

#basket-trust{
	margin-top: 20px;
}



#basket {
	overflow-y: scroll;
	#basket-content-list{
		#basket-content-listhead{
			border-bottom: 1px solid @brand-third;
			border-top: 1px solid transparent;
			color: #fff;
			span{
				padding: 0;
			}
		}
		.basket-content-listitem{
			border-bottom: 1px solid darken(@brand-secondary, 2%);
			color: #fff;
			a{
				color: #fff;
			}
		}
	}
	.basket-content-listitem-attr{
		margin-left: 65px;
	}
	#basket-total{
		border-bottom: 0px solid transparent;
		border-top: 1px solid @brand-third;
	}	
}


#basket-shipping-shop-select{
	width: 100%;
	margin-bottom: 30px;
	.line{
		display: block;
		&:after{
			content: '';
			clear: both;
			display: block;
		}
		input{
			float: left;
			margin-right: 10px;
		}
		span.shipping-name{
			float: left;
		}
		span.shipping-price{
			font-size: 13px;
			clear: both;
			display: block;
			@media(min-width:@screen-sm){
				float: right;
				display: inline-block;
				font-size: 16px;
				clear: none;
			}
		}
	}
	#basket-shipping-shop-select-pos{
		width: 100%;
		float: right;
		@media(min-width:@screen-sm){
			width: 340px;
		}
	}
	&:after{
		content: '';
		display: block;
		clear: both;
	}
	@media(max-width:@screen-sm){
		&:before{
			content: 'Vælg levering';
			font-size: 130%;
			text-align: center;
			width: 100%;
			margin-bottom: 20px;
		}
	}
}

#outofstock-message{
	display: block;
	background: #f5f4bc;
	padding: 20px;
	clear: both;
	margin-bottom: 30px;
	border:1px solid #e0df8e;
}