
#categorylist{
	margin-top: -70px;
	.category-teaser{

	}
	&.subcats{
		border-bottom: 3px solid rgba(0,0,0,.05);
		padding-bottom: 30px;
		margin:0 0 30px 0;
	}
	&.listcats{
		margin:0;
	}
}
.category-teaser{

	a{
		display: block;
		box-shadow: 0;
		color: #fff;
		margin-bottom: 30px;
		overflow: hidden;
		font-weight: 300;
		background: @brand-primary;
		text-transform: uppercase;
		// border: 3px solid @brand-primary;
		border: 2px solid @brand-primary;
		// box-shadow: 0 4px 5px rgba(255,255,255,.1);
		.transition(all 200ms ease;);

		&:hover{
			text-decoration: none;
			// box-shadow: 0 4px 10px rgba(255,255,255,.2);
			background: @brand-secondary;
		}		

		.category-teaser-image{
			width: 100%;
			height: auto;
			background: #fff;
			overflow: hidden;
		}
		.category-teaser-title{
			text-align: center;
			padding: 20px 5px;
			font-size: 115%;
			color: @brand-third;
			font-weight: 700;
			
		}
		.category-teaser-description{
			text-align: center;
			text-transform: none;
			font-size: 90%;
			padding: 0 10px 10px 10px;
			margin-top: -10px;

		}

	}
	.extra-height-control{
		.category-teaser-title{
			@media(min-width:768px) and(max-width:@screen-md){
				min-height: 90px;
			}
			@media(max-width:540px){
				min-height: 90px;
			}
		}
		.category-teaser-description{
			@media(min-width:768px) and (max-width:@screen-lg){
				min-height: 102px;
			}
			@media(max-width:540px){
				min-height: 90px;
			}
			@media(max-width:400px){
				min-height: 130px;
			}
		}
	}
}