/* C H E C K  O U T  F L O W
-------------------------------*/

#site.checkout{
    #sitehead{
        top: 0 !important;
        position: absolute !important;
    }
}
.thanksicn{
    font-size: 85px;
}
#checkout-content{
    padding: 30px 0;
    color: #fff;
    min-height: 500px;
    &.thanks{
        text-align: center;
        margin-top: 50px;
    }
}
#checkout-back-btn{
   float: left;
   @media(max-width:@screen-sm){
       margin-bottom: 15px;
   } 
}

#checkout-next-btn{
    width: 100%;
    @media(min-width:@screen-sm){
        width: auto;
        float: right;
    }

}
#checkout-next-btn{
    background-color: @brand-third;
    border-color: darken(@brand-third, 15%);
    color: @brand-primary;
    &:hover, &:focus{
        opacity: 0.9;
    }
}

.checkout-pages{
    background: @brand-secondary;
    // box-shadow: 0 3px 10px rgba(0,0,0,.25);    
    padding:0;
    margin-bottom: 50px;
    @media(min-width:@screen-md){
        border: 2px solid @brand-primary;   
        margin: 50px;
        padding: 40px 50px 80px 50px;
    }
}

.subpage #sitehead {
    background: @brand-primary;
    top: 0;
}

// Approve page
#approve-logo,
#order-logo{
    text-align: center;
    background: @brand-primary;

}
#order_country_display, textarea{
    color: #000;
}

.approve-section,
.order-section{
    clear: both;
    border-top: 1px solid rgba(0,0,0,.1);
    margin-top: 30px;
    padding-top: 30px;
    &.about-you{
        border-top: 0;
        margin-top: 0;
    }
    &.cta{
        text-align: center;
    }
    h1{
        margin: 0;
    }
}