

.btn{
  border-top: 0 none !important;
  border-left: 0 none !important;
  border-right: 0 none !important;
  border-bottom-width: 3px !important;
}
input:focus { outline: none; }


img{
  max-width: 100%;
  height: auto;
}
body{
  font-family: @font-family-base;
  background: #fff;
  overflow-x: hidden;
  background-color: @brand-secondary;
}
h1,h2,h3,h4,h5,h6{
  font-weight: @headings-font-weight;
}
h1{
  margin-bottom: 30px;
}
strong{
  font-weight: bold;
}
body, html{
  height: 100%;
  min-height: 100%;
}
iframe{
  width: 100%;
  border:0 none;
  height: 100%;
}
p, h1, h2,h3,h4{
  color: @content-font-color;
  font-family: @font-family-base;
}
a{
  color: @brand-third;
  &:hover, &:focus{
   color: @brand-third;
   text-decoration: underline;
   // opacity: 0.9;
 }
}

.subpage #sitehead{
  background: #fff;
}

#sitecontent{
  padding-top: 80px;
  background: @content-bg;  
}

.closebtn{
  position: absolute;
}

.section-header{
  text-align: center;
  margin: 0 0 30px 0;
}

.page404{
  text-align: center;
  @media(min-width:@screen-md){
    text-align: left;
  }
  .logotop404{
    padding:20px 0;
    img{
      width: 80%;
      max-width: 370px;
      @media(min-width:@screen-sm){
        width: auto;
      }
    }
    @media(min-width:@screen-md){
      padding:50px 0;
    }
  }
  .text404{
    padding-top:20px;
    @media(min-width:@screen-md){
      padding-top:120px;
    }
  }
}

.vidcontainer,
vidcontainer-embed{
 margin-bottom: 15px;
 position: relative;
 padding-bottom: 56.25%;
 height: 0;
 overflow: hidden;
 iframe{
   position: absolute;
   top:0;
   left: 0;
   width: 100%;
   height: 100%;
 }
}

.themeinfo{
  background: red;
  color: white;
  text-align: center;
  padding:5px;
}