#site{
	position: relative;
	top: 0;
	width: 100%;
	right: 0;
	left: 0;
	-webkit-transition:all .2s ease-in-out;
	transition:all .2s ease-in-out;
}

.takeover-close{
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	width: 50px;
	height: 50px;
	border-radius: 3px;
	background: @brand-primary;
	color: #fff;
	border: 0;
	font-size: 30px;
	line-height: 50px;
	padding: 0;
	text-align: center;
	font-weight: 300;
	font-family: Arial, Helvetica, 'Hevletica neue', sans-serif;
}

#sitenav{

	@media(max-width:@screen-sm-max){
		overflow-y: scroll;
		-webkit-overflow-scrolling: touch;
		width: 95%;
		height: 100%;
		left: -95%;
		padding-bottom: 50px;
		z-index: 1001;
		font-size: 20px;
		position: fixed;
		transition: all 0.5s;
		background: @brand-secondary;
		top: 0;
	}

	@media(min-width: @screen-md){
		text-transform: uppercase;
		font-size: 14px;
		transform: none;
		overflow:visible;
		position: static;
		width: auto;
		height: auto;
		background: transparent;
		display: block;
		.takeover-close{
			display: none;
		}
		padding:0;
	}
	@media (min-width:@screen-lg){
		font-size: 16px;
	}
	ul{
		list-style: none;
		padding:0;
		margin: 0;
		@media (min-width: @screen-md){
			padding: 0;
		}
		> li{
			a.tofrontpage{
				@media(max-width:@screen-xs-max){
					&:after{
						content: ' Forsiden';
					}
					i{
						display: none;
					}
				}
			}
			display: block;
			@media (min-width: @screen-md){
				display: inline-block;
			}			
			line-height: 50px;
			font-weight: 300;
			> a{
				@media(min-width:@screen-md){
					background: transparent;
					border-bottom: 0 none;
				}
			}
			a{
				cursor: pointer;
				display: block;
				padding-left:20px;
				color: @sitehead-fontcolor;
				@media (min-width: @screen-md){
					padding: 14px 9px;
				}
				@media (min-width: @screen-lg){
					padding: 14px;
				}
				.transition(all 200ms ease;);

				&:hover{
					text-decoration: none;
					// background: rgba(0,0,0,.1);
					cursor: pointer;
					color: @brand-third;
					// border-bottom: 2px solid #fff;
				}

			}			
			.subnav-expander{
				@media(min-width:@screen-md){display: none}
				float:right;
				height: 50px;
				width: 50px;
				line-height: 50px;
				border: 0;
				border-left:1px solid #efefef;
				background: transparent;
				font-size: 180%;
				padding:0;
				margin: 0;
				&:before{
					content: '+';
				}
				&.expanded {
					&:before{
						content: '–';
					}
					// background: @brand-primary;
				}
			}
			.sitenav-expanded{
				@media (min-width: @screen-md){
					max-width: 210px;
				}			

				.sitenav-expanded-content{
					background: lighten(@brand-secondary,15%);
					@media (min-width: @screen-md){
						background: @brand-secondary;
					}
				}
			}
			&._active{
				a{
					border-top:3px solid @brand-primary;

					&:hover{
						@media (min-width: @screen-md){
							color: @sitehead-fontcolor;
						}
					}
				}
			}
		}
	}
}


body.toggled-sitenav{
	#sitenav{
		-webkit-overflow-scrolling: touch;
		//transform: translate3d(0, 0, 0);
		left: 0;
		box-shadow: 0 0 100px 50px rgba(0,0,0,.4);
		li._active{
			a{
				border:0 !important;
			}
		}
	}
}


#sitenav-toggler{
	width: 50px;
	height: 50px;
	position: absolute;
	top: 15px;
	left: 20px;
	font-size:20px;
	background: transparent;
	border: 0 none;
	border-radius: @border-radius-base;
	text-align: center;
	padding: 0;
	&:before{
		font-size:20px;
	}
}
@media (max-width:@screen-md){
	#logo-container,
	#nav-container,
	#sitesearch-container{
		position: static !important;
	}
}
#basket-toggler{
	width: 50px;
	height: 50px;
	font-size:14px;
	border: 0 none;
	color: #fff;
	border-radius: @border-radius-base;
	padding: 0;
	background: transparent;
	position: absolute;
	top: 15px;
	right: 20px;
	line-height: 1;
	text-align: center;
	@media (min-width: @screen-md){
		position: relative;
		top: 5px;
		right: 0;
		float: right;
		margin-right: 10px;
	}

	&.cartfull{
		background: transparent;
		color: #fff;
		&:after{
			content: (attr(data-quantity-count));
			position: absolute;
			// top: -10px;
			// right: -10px;
			top: 0px;
			right: 0px;
			background: #4383C5;
			width: 24px;
			height: 24px;
			line-height: 24px;
			text-align: center;
			color: #fff;
			border-radius: 40px;
			font-size: 14px;
			font-family: Helvetica, 'helvetica', Arial, sans-serif;
			font-weight: 700;
		}
	}
	&.cartempty{
		&:after{
			display: none;
		}
	}
	&:before{
		font-size: 25px;
	}
}
@media(min-width: @screen-md){
	#basket-toggler{
		margin-top: 10px;
	}
}


#shopon{
	width: 100%;
	margin-bottom: 5px;
	@media(min-width:@screen-sm){
		width: auto;
		margin-bottom: 0;
	}
}