#page-content{
	padding-top: 20px;
	min-height: 600px;
	padding-bottom: 60px;
}

// Frontpage

#highlighted-products{
	h2{
		margin-top: 50px;
		color: #fff;
	}
}

#front-list-head,
#front-list-foot{
	padding:30px 0;
	background: #f5f5f5;

	.categorydescription{
		padding:0;
	}
}

#front-list-head{
	margin: 30px 0;
	color: #fff;
	background: @brand-primary;
	h3{
		margin-top: 15px;
		text-align: center;
		color: @brand-third;
	}
	.descA{
		font-size: 90%;
		// opacity: 0.9;
		p{
			margin: 0;
		}
		@media(min-width:@screen-sm){
			text-align: left;
		}
	}
}
#front-list-foot{
	background-color: @brand-primary;
	color: #fff;

}

