#persuasion{
	padding-bottom:60px;
	padding-top: 30px;
	// border-top: 1px solid rgba(0,0,0,.1);
	border-bottom: 3px solid rgba(0,0,0,.1);
	// background: rgba(255,255,255,.5);
	font-weight: 300;
}
.persuasion-box{
	text-align: center;
	@media(max-width:@screen-sm-max){
		margin-bottom: 30px;
	}

	.persuasion-box-inner{
		i{
			display: block;
			font-size: 140%;
			margin-bottom: 10px;
			color: @brand-cta;
		}
		span{
			color: #fff;
		}
	}

}