
// Product lists



#product-list-head{
	margin:20px 0px 20px 0;
	text-align: center;
	h1{
		font-weight: @headings-font-weight;
		color: #fff;
		margin-bottom: 10px;
		// &:after{
		// 	content: '—';
		// 	font-weight: bold;
		// 	font-size: 30px;
		// 	line-height: 0;
		// 	display: block;
		// 	margin: 15px;
		// }
	}
}

#product-list-foot{
	border-top: 1px solid rgba(0,0,0,.1);
}
#catimg{
	background-size: cover;
	background-position: center center;
	height: 200px;
}
.categorydescription{
	text-align: center;
	color: #fff;
	&.descA{
		padding-bottom: 20px;
	}

	&.descB{
		padding:20px 0;
	}
}
#products{
	padding-top: 50px;
}


.product-list{
	list-style: none;
	margin: 0;
	padding: 0;
}

.morelink-container{
	text-align: center;
	padding: 50px 0;
}
.more{
	&:after{
		content: " ›";
	}
}

#noproducts{
	display: none;
	text-align: center;
}

.product-teaser{
	.product-teaser-inner{
		background: @brand-primary;
		margin-bottom: 30px;
		box-shadow: 0 1px 5px rgba(0,0,0,.2);
		border-radius: @border-radius-base;
		overflow: hidden;

		.transition(all 200ms ease;);

		&:hover{
			box-shadow: 0 4px 10px rgba(0,0,0,.2);

			.sizes{
				opacity: 1;			
			}
		}
		a{
			color: #fff;
			&:hover{
				text-decoration: none;
			}

			.sizes{
				background: transparent!important;
				background: rgba(0,0,0,0.5)!important;
				position: absolute;
				padding: 15px;
				text-align: right;
				opacity: 0;
				font-size: 12px;
				right: floor((@grid-gutter-width / 2));

				.transition(opacity 200ms ease;);

				&:before{
					content: 'Varianter på lager:';
					font-weight: 700;
					color: #fff;
				}
				ul{
					list-style-type: none;
					margin: 10px 0 0 0;
					padding: 0;
					li{
						color: #fff;
					}
				}
			}

			.product-teaser-image-area{
				min-height: 150px;
				@media(min-width:@screen-sm){
					height: 220px;
				}
				@media(min-width:@screen-md){
					height: 213px;
				}
				@media(min-width:@screen-lg){
					height: 263px;
				}
			}

			img.product-image{
				width: 100%;
				border:3px solid @brand-primary;
			}
			.product-teaser-highlight{
				width: 70px;
				height: 70px;
				line-height: 56px;
				text-align: center;
				color: #fff;
				position: absolute;
				top:-10px;
				left: 5px;
				background: transparent url('../img/splat.svg') no-repeat;
				background-size: cover;
				font-weight: bold;
				font-size: 12px;
				box-sizing: border-box;

				&.news{
					background: #fff;
					border-radius: 100%;
					color: #4383C5;
					border:6px solid #4383C5;

				}
				&.offer{
					font-size: 16px;
					border:6px solid #4383C5;
					background: #fff;
					border-radius: 100%;
					color: #4383C5;
				}
			}
			.product-teaser-meta{
				padding: 15px;
				height: 200px;

				.product-teaser-title{
					font-weight: 600;
					font-size: 100%;
					color: @brand-third;
				}
				.product-teaser-brand{
					margin-bottom: 5px;
				}
				.product-teaser-text{
					font-size: 80%;
					font-weight: 300;
				}
				.product-teaser-rating{}
				.product-teaser-price{
					font-size: 110%;
					font-weight: 600;
					margin-top: 10px;
					.product-teaser-price-before{
						font-size: 80%;
						text-decoration: line-through;
						color: lighten(@text-color, 60%);
					}
					.product-teaser-availability{
						font-size:60%;
						display: block;
						font-weight: 300;
						&.instock{
							&:before {
								font-family: 'Glyphicons Halflings';
								content: "\e013";
								font-size: 70%;
								margin-right: 5px;
								color: @brand-third;
							}
						}
						&.outofstock{
							&:before {
								font-family: 'Glyphicons Halflings';
								content: "\e014";
								font-size: 70%;
								margin-right: 5px;
								color: grey;
							}
						}
					}
					.product-teaser-price-current{
						small{
							font-size: 14px;
							display: block;
							opacity: 0.8;
						}
						.product-teaser-currency{}
						.product-teaser-price{}
					}
				}
			}
		}
		.product-teaser-cta{
			padding: 15px;
			text-align: center;
			// border-top: 1px solid ;

			.product-variant-selectbox{
				@media(max-width:@screen-xs-max){
					width: 100%;
					margin-bottom: 10px;
				}
				@media(min-width:@screen-sm){
					margin-right:10px;
					width: 40%;
					height: 37px;
					line-height: 37px;
					padding:6px 12px;
				}
			}
			.product-teaser-quantity{
				width: 30px;
				height: 34px;
				border: 1px solid #ccc;
				border-radius: @border-radius-base;
				text-align: center;
				display: inline-block;
			}
			.product-teaser-addtobasket,
			.product-teaser-readmore{
				display: inline-block;
				color: @brand-primary;
				background-color: @brand-third;
				border-color: darken(@brand-third, 15%);
				&:hover{
					opacity: 0.9;
				}
				@media(max-width:@screen-xs-max){
					width: 100%;
				}				
			}
		}
	}
}

#product-list-pagination{
	text-align: center;
	padding:50px 0;
	clear: both;
	nav{
		display: flex;
		align-items: center;
		justify-content: center;
		span,a{
			display: inline-block;
			margin-bottom: 20px;
			@media(max-width:@screen-sm-max){
				padding: 10px 16px;
			}
			@media(min-width:@screen-md){
				padding:6px 10px;
			}
			border:1px solid rgba(0,0,0,.1);
			border-left:0;
			color:#333;
			&:first-child{
				border-left:1px solid rgba(0,0,0,.1);
				border-radius: 3px 0 0 3px;
			}
			&:last-child{
				border-radius: 0 3px 3px 0;
			}
			&:hover{
				text-decoration: none;
				background: rgba(0,0,0,.1);
			}
			&.current{
				font-weight: bold;
			}
		}

	}
}
