#sitehead-sitesearch{
	position: absolute;
	display: none;
	@media (min-width:@screen-md){
		position: static;
		display: block;
		input{
			background: @sitehead-searchinput-bg;
			border:2px solid @brand-secondary;
			font-weight: 300;
			height: 40px;
			line-height: 40px;
			border-radius: 4px;
			padding: 5px 10px;
			margin-top: 20px;
			position: relative;
			width: 100%;
			border-radius: 0;
			color:@sitehead-searchinput-fontcolor;
			.transition(all 200ms ease;);
			&:focus{
				border-color:#fff;
				// background: rgba(255,255,255,1);

			}
			&:placeholder{
				color: red;
			}
		}

		button{
			position: absolute;
			right: 20px;
			top: 25px;
			background: transparent;
			height: 30px;
			width: 30px;
			border: 0 none;
			color: @sitehead-searchinput-fontcolor;
			font-size: 20px;
			&:hover{
				color: @brand-cta;
			}
		}
	}
}

#frontpage-search{
	margin-top: 30px;
	position: relative;
	input{
		width: 100%;		
		height: 60px;
		background: #fff;
		border:0 none;
		padding: 0 25px;
		line-height: 60px;
		border-radius: 4px;
	}
	button{
		height: 54px;
		padding: 0 15px;
		top: 3px;
		right: 18px;
		border: 0 none;
		background: @brand-cta;
		color: #fff;
		font-size:18px;
		border-radius: 4px;
		width: 100%;
		@media(min-width:@screen-md){
			position: absolute;
			width: auto;
		}
	}
}


#mobile-search{

	margin: 50px 0 20px 0;
	padding: 20px;
	position: relative;
	width: 100%;
	height: 50px;

	form{
		margin: 0;
		padding: 0;
		position: relative;
		width: 100%;
		height: 50px;

		#mobil-search-input{
			height: 50px;
			width: 100%;
			position: absolute;
			padding-left: 15px;
			border:1px solid #ccc;
			background: #fff;
			border-radius: 0;
		}
		#mobil-search-btn{
			height: 44px;
			width: 44px;
			position: absolute;
			right: 3px;
			top: 3px;
			border: 0 none;
			background: @brand-primary;
			color: #fff;
			padding: 0;
			border-radius: 2px;
			text-align: center;

		}
	}
}




.autocompleter {
	width: 100%;
	display: none;
	background: #fff;
}

.autocompleter-show {
	display: block;
}

.autocompleter,
.autocompleter-hint {
	position: absolute;
}

.autocompleter-list {
	list-style: none;
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.autocompleter-item {
	cursor: pointer;
	border-bottom: 1px solid #f5f5f5;
	&.autocompleter-item-selected{
		> span{
			text-decoration: none;
			color:#000;
			padding-left:5px;
			background: rgba(0,0,0,.05);
		}
	}
	> span{
		display: block;
		color:#444;
		img{
			width: 50px;
			height: 50px;
		}
		transition: padding-left 200ms ease;
		&:hover{
			color:#000;
			padding-left:5px;
		}
	}
}



.autocompleter-item-selected {
	/* Selected State */
}

.autocompleter-item strong {
	/* Highlight Matches */
}

.autocompleter-hint {
	width: 100%;
	display: none;

	/** Need absolute position over input text */
}

.autocompleter-hint-show {
	display: block;
}

.autocompleter-hint span {
	color: transparent;
}