/* GLOBALS
--------------------------------------------------------*/
@brand-primary:                     #282828;
@brand-secondary:                   #414141;
@brand-third:                  		#fff520;
@brand-cta:                         #fff520;


/* TYPOGRAPHY
--------------------------------------------------------*/
// Import font sets here
@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);

// Apply here
@font-family-base:                 'Oswald', sans-serif;
@font-size-base:                    16px;

@headings-font-family:              'Oswald', sans-serif;
@headings-font-weight:              700;



/* HEADER
--------------------------------------------------------*/
@upper-sitehead-bg:                	@brand-secondary;
@upper-sitehead-fontcolor:          #fff;
@sitehead-bg:                       @brand-primary;
@sitehead-fontcolor:                #fff;
@sitehead-searchinput-bg:           transparent;
@sitehead-searchinput-border:       @brand-secondary;   
@sitehead-searchinput-fontcolor:    #fff;


/* CONTENT
--------------------------------------------------------*/
@content-bg: 						#414141;
@content-font-color:				#fff;

/* FOOTER
--------------------------------------------------------*/
@sitefoot-head-bg:                  @brand-primary;
@sitefoot-head-fontcolor:           #fff;
@sitefoot-foot-bg:                  @brand-primary;
@sitefoot-foot-fontcolor:           #fff;
@sitefoot-foot-linkcolor:           #fff;
@sitefoot-foot-strokecolor:         rgba(255, 255, 255, .1);


// You need to customize more? Go dig in the less-files - Have fun ;-)